

#loginTitle {
	margin: 0;
	margin-bottom: 20px;
	width: 100%;
	padding: 0;
	font-family: aaargh, sans-serif;
	font-size: 1.5rem;
	text-align: center;
	color: green;
}

#signDiv{
	text-align: center;
	margin-top: 50px;
	width: 268px;
	padding: 30px;	
	border: none;
	box-shadow: 0px 0px 30px 3px rgba(0,0,255,0.3);
	background-color: rgba(0,0,255,0.3);

}

.button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 8px;
}

#background{
	
}

#chat-log{

}